html,body,.content {
    height: 100%;
    overflow: hidden;
    position: relative;
}

body {
    border-top: 1px solid #A9A9A9;
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-shadow: inset 0 35px #F5F5F5;
       -moz-box-shadow: inset 0 35px #F5F5F5;
            box-shadow: inset 0 35px #F5F5F5;
}

header {
    color: #949391;
    margin-top: 15px;
    text-align: center;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 58px;
    font-weight: normal;
    line-height: 54px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
}

h1 span {
    color: #0D639E;
}

.content-body {
    bottom: -40px;
    position: absolute;
}

.content-body strong {
    color: #BF2F38;
    font-size: 16px;
    font-style: italic;
    text-rendering: optimizeLegibility;
    text-shadow: -0 -1px 0 rgba(0, 0, 0, .15);
}

.content-body em {
    font-weight: bold;
}

.next-neighborhood {
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 0;
    font-size: 14px;
    margin: 30px 0 0;
    padding: 4px 4px 8px;
    text-align: center;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

form {
    margin: 10px 0 0;
}
